In [1]:
x = 3

In [3]:
if x >5:
    print("x > 5")
elif x <5:
    print("x <= 5")
else:
    print("x == 5")

x <= 5

In [4]:
if x >5:
    print("x > 5")
elif x <5:
    print("x <= 5")
    if x==3:
        print("x == 3")
    else:
        print("invalid")
else:
    print("x == 5")

x <= 5
x == 3

In [5]:
for i in 'abc':
    print(i)

a
b
c

In [6]:
for i in ['a','b','c']:
    print(i)

a
b
c

In [9]:
total = 0
for i in range(5): #range(n) ->0.... n-1
    #total = total +i
    total += i
    
print(total)

10

In [10]:
total = 0
for i,j in [(1,2),(3,1)]:
    total = total +i**j
    
print(total)

4

In [11]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
for i in list1:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [15]:
total =0
list1 = [[1,2,3],[4,5,6],[7,8,9]]
for sublist in list1:
    for j in sublist:
        total += j

print(total)

45

In [16]:
for i in reversed("abc"):
    print(i,end=";")

c;b;a;

In [17]:
for i,j in enumerate("abc"):
    print(i, "=",j)

0 = a
1 = b
2 = c

In [18]:
for i,j in zip("abc","xyz"):
    print(i,":",j)

a : x
b : y
c : z

In [19]:
i = 0

while i < 5:
    print(i ** 2)
    i += 1

0
1
4
9
16

In [22]:
i = 0

while i < 5:
    print(i ** 2)
    i += 1
else:
    print("End of while loop")

0
1
4
9
16
End of while loop

In [24]:
for i in range(100):
    print(i)
    if i >= 7:
        break

0
1
2
3
4
5
6
7

In [26]:
for i in range(10):
    if i == 5:
        print("Skip this iteration: ",i)
        continue
    print ("Processed: ",i)

Processed:  0
Processed:  1
Processed:  2
Processed:  3
Processed:  4
Skip this iteration:  5
Processed:  6
Processed:  7
Processed:  8
Processed:  9

In [28]:
try:
    for i in [2,1.5,0,3]:
        inverse = 1/i
        print(inverse)
        
except:
    print("Error!")

0.5
0.6666666666666666
Error!

In [29]:
try:
    for i in [2,1.5,0,3]:
        if i == 0:
            raise Exception("Division by zero!")
        inverse = 1/i
        print(inverse)
        
except Exception as e:
    print("Caught exception: ",e)

0.5
0.6666666666666666
Caught exception:  Division by zero!

In [30]:
print("Hello Jack")
print("Jack, good day!")

Hello Jack
Jack, good day!

In [31]:
def firstfunc():
    print("Hello Jack")
    print("Jack, good day!")

In [33]:
firstfunc()

Hello Jack
Jack, good day!

In [34]:
def firstfunc(username):
    print("Hello {}".format(username))
    print("{}, good day!".format(username))

In [35]:
firstfunc("jojo")

Hello jojo
jojo, good day!

In [41]:
def multiply(x,y):
    '''This function multiply two variables.'''
    #z = x*y
    #return z
    return x*y

In [39]:
a = multiply(2,3)
a

6

In [42]:
help(multiply)

Help on function multiply in module __main__:

multiply(x, y)
    This function multiply two variables.

In [44]:
list1 = [30,20,50,15,5,100]

In [46]:
def func1(alist):
    highest = max(alist)
    lowest = min(alist)
    first = alist[0]
    last = alist[-1]
    return highest,lowest,first,last

In [47]:
func1(list1)

(100, 5, 30, 100)

In [50]:
(a,b,c,d) = func1(list1)

print("Highest=",a,"Lowest=",b,"First=",c,"Last=",d)

Highest= 100 Lowest= 5 First= 30 Last= 100

In [51]:
def implicitadd(x,y=3,z=0):
    print("{} + {} + {} = {}".format(x,y,z,x+y+z))
    return x+y+z

In [52]:
implicitadd(3)

3 + 3 + 0 = 6

6

In [53]:
implicitadd(3,4)

3 + 4 + 0 = 7

7

In [54]:
implicitadd(3,4,5)

3 + 4 + 5 = 12

12

In [55]:
implicitadd(3,z=5)

3 + 3 + 5 = 11

11

In [57]:
def add_n(first,*args):
    alist = [first] + [i for i in args]
    print(alist)
    return sum(alist)

In [58]:
add_n(2)

[2]

2

In [59]:
add_n(1,2,3,4,5)

[1, 2, 3, 4, 5]

15

In [62]:
def func1():
    x=1
    def func2():
        x=2
        print("x in func2: ",x)
    func2()
    
    print("x in func1: ",x)

In [63]:
func1()

x in func2:  2
x in func1:  1

In [64]:
def func1():
    x=1
    def func2():
        global x
        x=2
        print("x in func2: ",x)
    func2()
    
    print("x in func1: ",x)

In [65]:
func1()

x in func2:  2
x in func1:  1

In [66]:
x

2

In [67]:
z = lambda x: x*x

In [68]:
type(z)

function

In [69]:
z(8)

64

In [70]:
def double(x):
    return 2*x

def square(x):
    return x*x

def f_of_g(f,g):
    return lambda x : f(g(x))

In [71]:
doublesquare = f_of_g(double,square)

In [72]:
doublesquare(3)

18